body{
    background-color: rgba(121, 26, 98, 0.308);

}
h1{
    color: rgb(77, 2, 2);
    text-align: center;
}
p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
table{
    width: 100%;
    border-spacing: 5px;
}
table, th, th{
    border: 1px solid white ;
    border-radius: 8px;
}
th{
    background-color: rgb(160, 103, 95);
    text-align: left;
    padding: 10px;
    color: aliceblue;
}
td{
    background-color: cornflowerblue;
    text-align: center;
    padding: 5px ;
}